@model IEnumerable<ASPNetMongoDB.Models.Vara>

@{
    ViewData["Title"] = "Varulista";
}

<h1>Varulista</h1>

<p>
    <a asp-action="Create">Skapa ny vara</a>
</p>
<table id="catto" class="display" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Produkt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pris)
            </th>
            <th>
                Verktyg
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Produkt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pris)
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Redigera</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Radera</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    $(document).ready(function () {
        $('#catto').DataTable();
    });
</script>